<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.MemberMapper">
<resultMap id="interestMap" type="java.util.HashMap">
  <id property="id" column="INTEREST_ID" />
  <result property="name" column="INTEREST_NAME"/>
</resultMap>	
	<select id="getInterests" resultMap="interestMap">
		SELECT
			*
		FROM
			TB_INTEREST
	</select>

	<select id="getUser" parameterType="string" resultType="User">
		SELECT
			USERID, NAME, POINT, RANK, REGDATE, LASTDATE, GENDER
		FROM
			TB_USER
		WHERE
			USERID = #{userid}
	</select>
	
	<insert id="insertUserInfo" parameterType="User">
		INSERT INTO TB_USER(USERID, PASSWORD, NAME, EMAIL, GENDER)
		VALUES(#{userid}, #{password}, #{name}, #{email}, #{gender})
		<selectKey keyProperty="userno" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<insert id="insertUserInterest" parameterType="User">
		INSERT INTO TB_USER_INTEREST(USERID, INTEREST_ID)
		VALUES	<foreach collection="list" item="item" separator=" , ">
		            (#{item.userid}, #{item.interest})
		        </foreach>
	</insert>
	
</mapper>
